.banner-title {
  font-family: "Gaze", system-ui !important;
  font-size: 22px !important;
  max-width: 300px;
  color: #FFF;
}
.logo {
  width: 60px;
  height: auto;
  border-radius: 4px;
}
.logo-small {
  width: 60px;
  height: auto;
  border-radius: 4px;
}
